/*Variables*/
:root {
  --header-spacing: 5rem;
}

/*Styles*/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.no-hover {
  pointer-events: none;
}

button.navbar-toggler {
  border: none;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  /* background-color: whitesmoke; */
  overflow-x: hidden;
}

/*Hastag scroll hack*/
section { 
  margin-top: - var(--header-spacing); 
  padding-top: var(--header-spacing); 
}

.btn {
  border-radius: 0;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.content {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-position {
  position: absolute;
  top: 68px;
  left: 0;
}

.margin-video {
  margin-top: 2.5rem;
}

.header-video video {
  width: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  background: #303952;
  z-index: 1;
  opacity: .85;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

@media (max-width: 960px) {
  .content {
    padding: 0 3rem 0 3rem;
  }
}

@media (max-width: 350px) {
  .header-video video {
    width: none;
    min-width: none;
    max-height: 100%;
  }
}