/*Variables*/
/*Styles*/
* {
  transition: all .3s ease-in;
}

html, body {
  height: 100%;
}

.no-hover {
  pointer-events: none;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.nav-link {
  font-size: 1.15rem;
}

section {
  margin-top: -4.5rem;
  padding-top: 4.5rem;
}

button.navbar-toggler {
  border: none;
}

hr {
  border-top: 1px solid #ccc;
}

h2 {
  margin: 2.5rem 0;
}

h4 {
  width: 80%;
  height: 80%;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul > li {
  max-height: 5rem;
  list-style: none;
}

.icon {
  display: inline-block;
  max-width: 20%;
  max-height: 20%;
}

.navbar-border-white {
  border-bottom: 1px solid #ccc !important;
}

.navbar-border-dark {
  border-bottom: 1px solid #27292b !important;
}

.text-white {
  color: whitesmoke !important;
}

.btn {
  border-radius: 0;
}

.header-masterhead {
  font-size: 50px;
  margin-bottom: 0;
}

.text-masterhead {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

header.masthead {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(77, 92, 135, 0.5) 0%, rgba(48, 57, 82, 0.5) 100%), url("../../assets/img/ninja-developer-final.jpg");
  background-position: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  header.masthead {
    background: linear-gradient(to bottom, rgba(77, 92, 135, 0.8) 0%, rgba(48, 57, 82, 0.8) 100%), url("../../assets/img/ninja-developer-final.jpg");
    background-position: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }

  header.masthead p {
    font-size: 1.15rem;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 350px) {
  header.masthead {
    background-position: right;
  }
}

/* Img animation */
.fadein {
  /* margin-top: 25px;
  font-size: 21px;
  text-align: center; */
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

  /* Maquetar boton color feo fuera*/