/*Variables*/
:root {
  --logo-position: 12px;
}

/*Styles*/
* {
  transition: all .3s ease-in;
}

html, body {
  height: 100%;
}

.no-hover {
  pointer-events: none;
}

body {
  margin: 0;
  font-size: 1.15rem;
  line-height: 1.5;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.nav-link {
  font-size: 1.15rem;
}

section {
  margin-top: -4.5rem;
  padding-top: 4.5rem;
}

button.navbar-toggler {
  border: none;
}

hr {
  border-top: 1px solid #ccc;
}

.h1 {
  margin: 2.5rem 0;
}

h2 {
  margin: 2.5rem 0;
}

h4 {
  width: 80%;
  height: 80%;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: white !important;
  text-decoration: inherit;
}

nav>ul>li {
  max-height: 5rem;
  list-style: none;
}

#nav-mobile>ul>li>a {
  font-size: 16px;
}

#nav-mobile {
  margin-top: 4.38rem;
}

.list-group-item {
  border: 0 !important;
  padding: .5rem 1.25rem;
  border-bottom: 1px solid #27292b !important;
}

.form-control:focus {
  border-color: rgb(77, 92, 135);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 92, 135, 0.6);
}

.btn-secondary {
  border: 1px solid #bbb;
}

.btn-secondary:hover {
  border: inherit;
}

.btn-secondary:focus {
  border: 1px solid #4d5c87 !important;
  border-color: rgb(77, 92, 135);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 92, 135, 0.6) !important;
}

#katana-wrapper {
  position: relative;
}

.logo-1 {
  position: absolute;
  top: 17px;
  left: 17px;
  max-width: 18px;
  max-height: 18px;
}

.logo-2 {
  position: absolute;
  top: 2px;
  left: 2px;
  max-width: 48px;
  max-height: 48px;
}

.brand-name {
  font-size: 16px;
}

.icon {
  display: inline-block;
  max-width: 20%;
  max-height: 20%;
}

.navbar-border-white {
  border-bottom: 1px solid #ccc !important;
}

.navbar-border-dark {
  border-bottom: 1px solid #27292b !important;
}

.text-white {
  color: whitesmoke !important;
}

.btn {
  border-radius: 0;
}

.header-masterhead {
  font-size: 50px;
  margin-bottom: 0;
}

.text-masterhead {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

header.masthead {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(77, 92, 135, 0.5) 0%, rgba(48, 57, 82, 0.5) 100%), url("../../assets/img/ninja-developer-final.jpg");
  background-position: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

.card>.bg-dark {
  opacity: 0.85;
}

.alert {
  font-size: 14px;
}

@media (min-width: 768px) {
  #nav-mobile {
    margin: auto 0;
  }
  
  .logo-1 {
    top: 19px;
    left: 19px;
  }

  .logo-2 {
    top: 4px;
    left: 4px;
  }

  .brand-name {
    font-size: 18px;
  }

  header.masthead {
    background: linear-gradient(to bottom, rgba(77, 92, 135, 0.8) 0%, rgba(48, 57, 82, 0.8) 100%), url("../../assets/img/ninja-developer-final.jpg");
    background-position: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

#map {
  height: 400px;
  width: 100%;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }

  header.masthead p {
    font-size: 1.15rem;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

/* Img animation */
.fadein {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari and Chrome */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera */
.rotate {
  animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}