/*Variables*/


/*Styles*/
* {
  box-sizing: border-box;
  transition: all .5s ease-in;
}

html, body {
  height: 100%;
}

.no-hover {
  pointer-events: none;
}

button.navbar-toggler {
  border: none;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  /* background-color: whitesmoke; */
  overflow-x: hidden;
}

.btn {
  border-radius: 0;
}

.navbar {
  background: transparent;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.content {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-position {
  position: absolute;
  top: 0;
  left: 0;
}

.header-img img {
  width: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  background: #303952;
  z-index: 1;
  opacity: .75;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}